.img-fit {
  object-fit: cover;
}

#toast-container .toast-success {
  background-color: #28a745;
  opacity: 1;
}

#toast-container .toast-info {
  background-color: #17a2b8;
  opacity: 1;
}

#toast-container .toast-warning {
  background-color: #ffc107;
  opacity: 1;
}

#toast-container .toast-error {
  background-color: #dc3545;
  opacity: 1;
}

.sidebar-footer-content {
  padding-top: 2.81rem;
  padding-bottom: 2rem;
  padding: 10px 0px 20px;
}

@media (min-width: 1200px) {
  .content {
      padding: 1rem 1.5rem 1.5rem;
  }
}
